
:root {
  --background: 191 5% 97%;
  --foreground: 191 5% 5%;
  --foreground-subtle: 191 5% 15%;
  --card: 191 5% 96%;
  --card-foreground: 191 5% 5%;
  --popover: 191 5% 97%;
  --popover-foreground: 191 5% 5%;
  --primary: 11 70% 45%;
  --primary-foreground: 11 30% 97%;
  --secondary: 11 40% 90%;
  --secondary-foreground: 11 85% 5%;
  --muted: 191 5% 90%;
  --muted-foreground: 191 5% 15%;
  --accent: 11 45% 85%;
  --accent-foreground: 11 80% 15%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 100%;
  --border: 191 5% 64%;
  --input: 191 5% 64%;
  --ring: 11 70% 45%;

  /* Accent Colors */
  --accent-1: 11 30% 97%;
  --accent-2: 11 35% 96%;
  --accent-3: 11 40% 90%;
  --accent-4: 11 45% 85%;
  --accent-5: 11 50% 80%;
  --accent-6: 11 55% 72%;
  --accent-7: 11 60% 64%;
  --accent-8: 11 65% 56%;
  --accent-9: 11 70% 45%;
  --accent-10: 11 75% 30%;
  --accent-11: 11 80% 15%;
  --accent-12: 11 85% 5%;
  --accent-contrast: 11 30% 97%;

  /* Gray Colors */
  --gray-1: 191 5% 97%;
  --gray-2: 191 5% 96%;
  --gray-3: 191 5% 90%;
  --gray-4: 191 5% 85%;
  --gray-5: 191 5% 80%;
  --gray-6: 191 5% 72%;
  --gray-7: 191 5% 64%;
  --gray-8: 191 5% 56%;
  --gray-9: 191 5% 45%;
  --gray-10: 191 5% 30%;
  --gray-11: 191 5% 15%;
  --gray-12: 191 5% 5%;
  --gray-contrast: 191 5% 5%;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: 191 5% 97%;
    --foreground: 191 5% 5%;
    --foreground-subtle: 191 5% 30%;
    --card: 191 5% 96%;
    --card-foreground: 191 5% 5%;
    --popover: 191 5% 90%;
    --popover-foreground: 191 5% 5%;
    --primary: 11 70% 45%;
    --primary-foreground: 11 30% 97%;
    --secondary: 11 40% 90%;
    --secondary-foreground: 191 5% 5%;
    --muted: 191 5% 90%;
    --muted-foreground: 191 5% 15%;
    --accent: 11 50% 80%;
    --accent-foreground: 11 80% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 191 5% 72%;
    --input: 191 5% 72%;
    --ring: 11 65% 56%;

    /* Accent Colors - Dark Mode */
    --accent-1: 11 30% 97%;
    --accent-2: 11 35% 96%;
    --accent-3: 11 40% 90%;
    --accent-4: 11 45% 85%;
    --accent-5: 11 50% 80%;
    --accent-6: 11 55% 72%;
    --accent-7: 11 60% 64%;
    --accent-8: 11 65% 56%;
    --accent-9: 11 70% 45%;
    --accent-10: 11 75% 30%;
    --accent-11: 11 80% 15%;
    --accent-12: 11 85% 5%;
    --accent-contrast: 11 85% 5%;

    /* Gray Colors - Dark Mode */
    --gray-1: 191 5% 97%;
    --gray-2: 191 5% 96%;
    --gray-3: 191 5% 90%;
    --gray-4: 191 5% 85%;
    --gray-5: 191 5% 80%;
    --gray-6: 191 5% 72%;
    --gray-7: 191 5% 64%;
    --gray-8: 191 5% 56%;
    --gray-9: 191 5% 45%;
    --gray-10: 191 5% 30%;
    --gray-11: 191 5% 15%;
    --gray-12: 191 5% 5%;
    --gray-contrast: 191 5% 97%;
  }
}